
.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 25px;
  background: #727171;
  font-size: 13px;
  border: none;
  user-select: none;
  font-weight: bold;
  color: #fff;

  &:active {
    background: #5b5b5b;
  }
}

.numericBtn {
  background: #e48900 !important;

  &:active{
    background: #b06b00 !important;
  }
}

